<section role="region" id="settings-view" class="skin-organic">
  <header>
    <button id="close-btn"><span class="icon icon-close">close</span></button>
    <menu type="toolbar">
      <button id="submit-btn">Submit</button>
    </menu>
    <h1>Submit a report</h1>
  </header>
  <article>
    <form>
      <p>
        <input type="text" placeholder="Report title">
        <button type="reset">Clear</button>
      </p>
      <p>
        <textarea placeholder="Description of your report"></textarea>
        <button type="reset">Clear</button>
      </p>
    </form>
  </article>
</section>
